@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #322a26;
  position: relative;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
#title {
  color: #fffffa;
  margin: 20px auto;
  width: 80%;
  text-align: center;
}

#title h1 {
  font-size: 60px;
  font-weight: 400;
}
#title h2 {
  font-size: 30px;
  font-weight: 400;
}
form {
  width: 100%;
  height: 100%;
}

i {
  position: absolute;
  color: #322a26;
  font-size: 30px;
  margin: 10px 10px;
  cursor: pointer;
}
.searchContainer {
  background-color: #fffffa;
  color: #322a26;
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.searchContainer span {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
  width: 50%;
}
.searchContainer span label {
  margin-bottom: 10px;
}
.searchContainer span input,
.searchContainer span select {
  width: 300px;
  height: 50px;
  margin: 0 auto;
  border: none;
  box-shadow: 4px 4px 4px 4px rgba(86, 130, 89, 0.25),
    -4px -4px 4px 4px rgba(66, 122, 161, 0.25);
  text-align: center;
  background-color: rgba(50, 42, 38, 0.4);
}

.searchContainer span input:focus,
.searchContainer span select:focus {
  outline: none;
}

label {
  font-size: 30px;
  text-transform: uppercase;
}

input {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}
#submit {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  background-color: rgba(50, 42, 38, 0.8);
  color: #fffffa;
  margin: 30px auto;
  padding: 5px 27px;
  border: none;
  text-transform: uppercase;
}

.resultsContainer {
  margin: 0 auto;
  width: 350px;
  height: 350px;
  display: flex;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  text-align: center;
  align-items: center;
  text-align: center;
}

.result:odd {
}

.result:even {
}

div > h2 {
  font-size: 35px;
}
